.homewelcome{margin-bottom:20px !important;background:#fc7005;margin:10px;box-shadow:0px 0px 7px #fff;border-radius:8px;padding:5px;}
.welcome{text-align:center;margin:10px;font-weight:bold;font-size:14px;color:white;margin-top:18px;}
.form{text-align:center;margin:10px;border-radius:5px;}
.homewelcome .address {border:solid 0px red;box-shadow:0px 0px 8px #bf4e02;width:200px;padding:10px;border-radius:10px;text-align:center;margin:10px;}
.homewelcome .button {margin-bottom:15px !important;font-weight:bold;color:#fc7005;margin:10px;border-radius:10px;background:#fff;border:solid 1px #fc7005;padding:5px;padding-left:10px;padding-right:10px;}
.homewelcome .button:hover{background:#bf4e02;border:solid 1px #bf4e02;color:#fff}
.howto{padding:10px;margin:10px;box-shadow:0px 0px 7px #b5b5b5;border-radius:8px;}
.howto h2{text-align:center;font-size:16px;}
	.demo {
		width:100%;
		border:1px none #C0C0C0;
		border-collapse:collapse;
		padding:5px;
	}
	.demo th {
		border:1px none #C0C0C0;
		padding:5px;
		background:#fc7005;
	}
	.demo td {
		border:1px none #C0C0C0;
		padding:5px;
	}
.trans{padding:10px;margin:10px;border-radius:8px;box-shadow:0px 0px 7px #b5b5b5;margin-top:20px !important;}
.trans h2{text-align:center;font-size:16px;}
.faq{padding:10px;margin:10px;box-shadow:0px 0px 7px #b5b5b5;border-radius:8px;}
.faq h2{font-size:16px !important;}
.faq h3{font-size:12px !important;}
