.homewelcome{margin-bottom:20px !important;background: linear-gradient(270deg, #fc7005, #9b4401);
    background-size: 400% 400%;
    -webkit-animation: AnimationName 2s ease infinite;
    -moz-animation: AnimationName 2s ease infinite;
    -o-animation: AnimationName 2s ease infinite;
    animation: AnimationName 2s ease infinite;margin:10px;box-shadow:0px 0px 7px #fff;border-radius:8px;padding:5px;}
.welcome{text-align:center;margin:10px;font-weight:bold;font-size:14px;color:white;margin-top:18px;}
.homewelcome .address {border:solid 0px red;box-shadow:0px 0px 8px #bf4e02;width:220px;padding:10px;border-radius:10px;text-align:center;margin:10px;}
.homewelcome .button {margin-bottom:20px !important;font-weight:bold;color:#fc7005;margin:10px;border-radius:10px;background:#fff;border:solid 0px #fc7005;padding:5px;padding-left:10px;padding-right:10px;}
.homewelcome .button:hover{background:#bf4e02;border:solid 0px #bf4e;color:#fff}
.howto{background:#fff !important;padding:10px;margin:10px;box-shadow:0px 0px 7px #b5b5b5;border-radius:8px;}
.howto h2{text-align:center;font-size:16px;}
	.demo {
		width:100%;
		border:1px none #C0C0C0;
		border-collapse:collapse;
		padding:5px;
	}
	.demo th {
		border:1px none #C0C0C0;
		padding:5px;
		background:#fc7005;
	}
	.demo td {
		border:1px none #C0C0C0;
		padding:5px;
	}
.trans{background:#fff !important;padding:10px;margin:10px;border-radius:8px;box-shadow:0px 0px 7px #b5b5b5;margin-top:20px !important;}
.trans h2{text-align:center;font-size:16px;}
.faq{margin-bottom:20px !important;background:#fff !important;margin-top:20px !important;padding:10px;margin:10px;box-shadow:0px 0px 7px #b5b5b5;border-radius:8px;}
.faq h2{font-size:16px !important;}
.faq h3{font-size:14px !important;}
.faq p{color:#555555;font-size:12px !important;}
body{background:#e5e5e5;}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
h2{border-bottom:solid 3px #fc7005 !important;padding-bottom:15px !important;}


.minimum{font-size:13px;background:#fff !important;padding:10px;margin:10px;border-radius:8px;box-shadow:0px 0px 7px #b5b5b5;margin-bottom:20px !important;}
